<?xml version="1.0" ?>
<boinc>
  <config>
    <upload_dir>/var/lib/boinc-server-test/physiome/upload</upload_dir>
    <send_result_abort>1</send_result_abort>
    <long_name>Physiome@home</long_name>
    <cgi_url>http://physiome.lf1.cuni.cz/ident3/physiome_cgi/</cgi_url>
    <sched_debug_level>3</sched_debug_level>
    <upload_url>http://physiome.lf1.cuni.cz/ident3/physiome_cgi/file_upload_handler</upload_url>
    <disable_account_creation>1</disable_account_creation>
    <uldl_dir_fanout>1024</uldl_dir_fanout>
    <uldl_pid>/var/run/apache2.pid</uldl_pid>
    <download_url>http://physiome.lf1.cuni.cz/ident3/physiome/download</download_url>
    <db_user>boincadm</db_user>
    <log_dir>/var/lib/boinc-server-test/physiome/log_boincserver</log_dir>
    <app_dir>/var/lib/boinc-server-test/physiome/apps</app_dir>
    <download_dir>/var/lib/boinc-server-test/physiome/download</download_dir>
    <fuh_debug_level>3</fuh_debug_level>
    <master_url>http://physiome.lf1.cuni.cz/ident3/physiome/</master_url>
    <host>boincserver</host>
    <db_name>physiome</db_name>
    <shmem_key>0x111146f5</shmem_key>
    <show_results>1</show_results>
    <key_dir>/var/lib/boinc-server-test/physiome/keys/</key_dir>
    <dont_generate_upload_certificates>1</dont_generate_upload_certificates>
    <ignore_upload_certificates>1</ignore_upload_certificates>
    <db_passwd>boinc</db_passwd>
    <min_sendwork_interval>6</min_sendwork_interval>
    <db_host>
      
      
      
      
      
    </db_host>
    <daily_result_quota>500</daily_result_quota>
    <one_result_per_user_per_wu>1</one_result_per_user_per_wu>
    <max_wus_to_send>1</max_wus_to_send>
    <max_wus_in_progress>1</max_wus_in_progress>
  </config>
  <tasks>
    <task>
      <cmd>antique_file_deleter -d 2</cmd>
      <period>24 hours</period>
      <disabled>0</disabled>
      <output>antique_file_deleter.out</output>
    </task>
    <task>
      <cmd>db_dump -d 2 --dump_spec ../db_dump_spec.xml</cmd>
      <period>24 hours</period>
      <disabled>1</disabled>
      <output>db_dump.out</output>
    </task>
    <task>
      <cmd>run_in_ops ./update_uotd.php</cmd>
      <period>1 days</period>
      <disabled>1</disabled>
      <output>update_uotd.out</output>
    </task>
    <task>
      <cmd>run_in_ops ./update_forum_activities.php</cmd>
      <period>1 hour</period>
      <disabled>1</disabled>
      <output>update_forum_activities.out</output>
    </task>
    <task>
      <cmd>update_stats</cmd>
      <period>1 days</period>
      <disabled>0</disabled>
      <output>update_stats.out</output>
    </task>
    <task>
      <cmd>run_in_ops ./update_profile_pages.php</cmd>
      <period>24 hours</period>
      <disabled>1</disabled>
      <output>update_profile_pages.out</output>
    </task>
    <task>
      <cmd>run_in_ops ./team_import.php</cmd>
      <period>24 hours</period>
      <disabled>1</disabled>
      <output>team_import.out</output>
    </task>
    <task>
      <cmd>run_in_ops ./notify.php</cmd>
      <period>24 hours</period>
      <disabled>1</disabled>
      <output>notify.out</output>
    </task>
  </tasks>
  <daemons>
    <daemon>
      <cmd>feeder -d 3 </cmd>
    </daemon>
    <daemon>
      <cmd>transitioner -d 3 </cmd>
    </daemon>
    <daemon>
      <cmd>file_deleter -d 3 </cmd>
    </daemon>
  </daemons>
</boinc>

