            body{
                font: 70% "Trebuchet MS", sans-serif;
                /*margin: 50px;*/
            }
             .ui-progressbar 
             {
                 float: left;
                 
             }           
            

/* Start of Column CSS */
#container3 {
	clear:left;
	float:left;
	width:100%;
	overflow:hidden;
	background:#ffe3e3; /* column 3 background colour */
}
#container2 {
	clear:left;
	float:left;
	width:100%;
	position:relative;
	right:20%;
	background:#eefffe; /* column 2 background colour */
}
#container1 {
	float:left;
	width:100%;
	position:relative;
	right:40%;
	background:#f0fff3; /* column 1 background colour */
}
#col1 {
	float:left;
	width:38%;
	position:relative;
	left:61%;
	overflow:hidden;
}
#col2 {
	float:left;
	width:38%;
	position:relative;
	left:63%;
	overflow:hidden;
}
#col3 {
	float:left;
	width:18%;
	position:relative;
	left:65%;
	overflow:hidden;
}
/* Start of Column CSS */
#container5 {
	clear:left;
	float:left;
	width:100%;
	overflow:hidden;
	background:#fcdfdf; /* column 2 background colour */
}
#container4 {
	float:left;
	width:100%;
	position:relative;
	right:30%;  /* 20 from right related to cont5*/
	background:#f8f7e6; /* column 1 background colour */
}
#col4 {
	float:left;
	width:66%; /* 80 - 2 edge x 2% */
	position:relative;
	left:32%; /* left from cont5 (80) + 1 edge * 2% */
	overflow:hidden;
}
#col5 {
	float:left;
	width:26%; /* 20 - 2 edge x 2 %*/
	position:relative;
	left:36%; /* from cont5 (80) + 3 edge * 2% */
	/*overflow:hidden; menu not visible */
}

rect {
    		fill-opacity: 0.7;
    		stroke-width: 4;
    		fill: #ff1000;
    		stroke: #803030;
    	}

.ui-menu { 
    overflow: hidden;
    z-index: 99;
}
.ui-menu .ui-menu {
    overflow: visible !important;
}
.ui-menu > li { 
    float: left;
    display: block;
    width: auto !important;
    margin: 5px 5px !important;
    padding: 0 0 !important;
}
.ui-menu ul li {
    display:block;
    float:none;
}
.ui-menu ul li ul {
  /*  left:120px !important;*/
    width:100%;
}
 /* force a height so the tabs don't jump as content height changes */
/*#tabs .tabs-spacer {float: left; height: 200px; }
.tabs-bottom .ui-tabs-nav { clear: left; padding: 0 .2em .2em .2em; }
.tabs-bottom .ui-tabs-nav li { top: auto; bottom: 0; margin: 0 .2em 1px 0; border-bottom: auto; border-top: 0; }
.tabs-bottom .ui-tabs-nav li.ui-tabs-active { margin-top: -1px; padding-top: 1px; }
*/
/* table in documentation */
table 
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
width:100%;
border-collapse:collapse;
}
td, th 
{
font-size:1em;
border:1px solid #564f02;
padding:3px 7px 2px 7px;
}
